<div class="page-header">
  <h3><%= @course.course_name %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Course Number</dt>
      <dd><%= @course.course_num %></dd>

      <dt>Course Name</dt>
      <dd><%= @course.course_name %></dd>

      <dt>Professor</dt>
      <dd><%= @course.professor %></dd>

      <% if current_user.present? %>
      <dt>Assignments</dt>
      <dd>
        <% if @course.activities.count == 0 %>
          No Data Available
        <% else %>
          <% @course.activities.each do |activity| %>
            <p> <a href="/activities/<%=activity.id%>"> <%= activity.activity %> </a> </p>
          <% end %>
        <% end %>
      </dd>
      <% end %>

      <dt>Avg. Hours Per Week</dt>
      <dd>
        <% if @course.completions.count == 0 %>
          No data Available
        <% else %>
          <%= @course.completions.where(:completion => "Yes").map(&:duration).sum/@course.completions.count %>
        <% end %>
      </dd>
    </dl>

    <% if current_user.present? %>
      <a href="/activities/new" class="btn btn-primary">
        Add An Assignment
      </a>
    <% end %>
  </div>
</div>
